.detailHeader{
    min-height: 250px;
    background-color: darkgoldenrod;
  

    .userInfo{
        margin-left: 50px;
    }
}
.header-image{
    padding-bottom: 24px;
    img{
        width: 60px;
        

    }
}